<div style="margin: auto;">
  <div *ngIf="currentCuenta" class="edit-form">
    <h4>CUENTA</h4>
    <form [formGroup]="form" (submit)="updateCuenta()" class="form">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>CLIENTE</label>
            <input class="form-control" formControlName="cliente">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Estado</label>
            <select formControlName="estado" class="custom-select">
              <option value="ACTIVO">ACTIVO</option>
              <option value="INACTIVO">INACTIVO</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Saldo Inicial</label>
            <input class="form-control" formControlName="saldoInicial" type="text">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Tipo Cuenta</label>
            <select formControlName="tipoCuenta" class="custom-select">
              <option value="AHORROS">AHORROS</option>
              <option value="CORRIENTE">CORRIENTE</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>Número de Cuenta</label>
            <input class="form-control" formControlName="numeroCuenta" type="text">
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <button class="badge badge-danger" (click)="deleteCuenta()">Eliminar</button>
        <button [disabled]="form.invalid" type="submit" class="btn btn-success">Enviar</button>
      </div>
      <p>{{ message }}</p>
    </form>

    <div *ngIf="!currentCuenta">
      <p>No se puede acceder a esta cuenta...</p>
    </div>
  </div>
</div>
