<div style=" margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">

      <div class="row">
        <div class="col-sm-4">

          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" required [(ngModel)]="nombre" name="nombre" />
          </div>

        </div>
        <div class="col-sm-4">

          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" required [(ngModel)]="apellido" name="apellido" />
          </div>

        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="identificacion">Identificacion</label>
            <input type="text" class="form-control" id="identificacion" required [(ngModel)]="identificacion"
              name="identificacion" />
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="genero">Genero</label>
            <!-- <input
                  type="text"
                  class="form-control"
                  id="genero"
                  required
                  [(ngModel)]="genero"
                  name="genero"
                /> -->

            <select [(ngModel)]="genero" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="MASCULINO">MASCULINO</option>
              <option value="FEMENINO">FEMENINO</option>
              <option value="OTRO">OTRO</option>
            </select>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="textarea" class="form-control" id="direccion" required [(ngModel)]="direccion"
              name="direccion" />
          </div>
        </div>
        <div class="col-sm-4">

          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input class="form-control" id="telefono" required [(ngModel)]="telefono" name="telefono" />
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">

          <div class="form-group">
            <label for="estado">Estado</label>
            <!-- <input
                type="estado"
                class="form-control"
                id="estado"
                required
                [(ngModel)]="estado"
                name="estado"
              /> -->
<!--
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" [(ngModel)]="estado" id="option1" autocomplete="off" checked> ACTIVO
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" [(ngModel)]="estado" id="option2" autocomplete="off"> INACTIVO
              </label>
            </div> -->

            <button class="badge badge-primary mr-2" *ngIf="estado=='ACTIVO'" (click)="updateEstado(false)">
              Inactivo
            </button>
            <button *ngIf="(estado=='INACTIVO')" class="badge badge-primary mr-2" (click)="updateEstado(true)">
              Activo
            </button>


          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password" />
          </div>


        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email" />
          </div>
        </div>
      </div>

      <button (click)="saveClient()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newClient()">Add</button>
    </div>
  </div>
</div>
